---
import Icon from './Icon.astro';

export interface Props {
  href: string;
  title?: string;
}
const { href, title } = Astro.props;
---
<a href={href} target="_blank" rel="noopener" title={title} class="inline-flex items-center gap-1 underline hover:text-accent">
  <slot />
  <Icon name="arrow-out" class="opacity-70" />
</a>
