---
interface Props {
  elementId: string;
  description: string;
  icon?: string;
  value: string;
  name: string;
}

const { name, elementId, description, icon, value } = Astro.props;
---
<li><button data-value={value}>
  {
    icon &&
    <span class="icon">{icon}</span>
  }
  <span class="description">{description}</span>
</button></li>
<style lang="scss">

li {
  width: 100%;
  list-style-type: none;
  cursor: pointer;
  * {
    cursor: pointer;
  }
}

.icon {
  --size: 1.7rem;
  display: inline-block;
  text-align: center;
  font-size: calc(var(--size) / 2);
  width: var(--size);
  height: var(--size);
  line-height: var(--size);
  margin-right: 0.5rem;
}

button {
  width: 100%;
  display: block;
  padding: 0.25rem 1rem;
  background: transparent;
  color: var(--text-color);
  border: none;
  text-align: left;
  &:hover {
    color: rgb(var(--accent));
  }
}

</style>
